{% extends "base.html" %}

{% block content %}
    
<form action="/books/{{book.id}}" method="POST">

    <label for="title">
        <span>Title</span>
        <input type="text" id="title" name="title" value="{{ book.title }}">
    </label>

    <label for="author">
        <span>Author</span>
        <select name="author_id" id="author">
            {% for author in all_authors %}
                <option value="{{ author.id }}"
                    {% if book.author.id == author.id %} selected="selected"{% endif %}
                >
                    {{ author.name }}
                </option>
            {% endfor %}
        </select>
    </label>


    <label for="genre">
        <span>Genre</span>
        <input type="text" id="genre" name="genre" value="{{ book.genre }}">
    </label>

    <input type="submit" value="Edit Book">
</form>

{% endblock content %}