<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Books Home</title>
</head>
<body>

    <header>
        
        <h1 class="logo">Books</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/books/new">Add a Book</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            
        {% endblock content %}
        
    </main>
    
    <footer>
        <p>
            Nothing to see here, move along now.
        </p>
    </footer>
</body>
</html>